html{
  background-color: #e3e3e3;
}

.red{
  position: absolute;
  width: 60%;
  height: 100%;
  left: 40%;
  top: 0px;
  
  background: #EF233C;
}

.face{
cursor: pointer;
color: #e3e3e3;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24.69px;
position: absolute;
width: 350px;
height: 64px;
left: 95px;
top: 200px;
border: none;
outline: none;
background: #3B5999;
border-radius: 10px;
}
